/* BALISE */
*{
    margin:0;
    padding: 0;
    font-family: Montserrat;
}

footer{
    display: flex;
    width: 1200px;
    margin-left: 100px;
    margin-bottom: 30px;
    justify-content: space-between;
}

h1{
    font-size: 80px;
    font-family: 'Abril Fatface';
    margin : 190px 100px;
    width: 50%;
    font-weight: 80;
    line-height: 1em;
}

h2{
    font-family: 'Abril Fatface';
    margin-left: 100px;
    font-size: 60px;
    font-weight: 30;
}

header{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    color: #fff;
}

header img{
    width: 150px;
    margin: 20px 0 0 40px;
}

li{
    list-style: none;
    margin: 0 20px;
    font-weight: 500;
    font-size: 0.9em;
}

li a{
    color: white;
    text-decoration: none;
}

/* CLASSE */
.best{
    width: 300px;
}

.foot_fiche{
    background-color:#FFFFFFDF;
    margin-top: -70px;
    height: 61px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.know{
    display: block;
    width: 120px;
    text-align: center;
    padding: 5px;
    border-radius: 50px;
    background-color: #ADD981;
    color: white;
    font-size: 0.8em;
}

.plant_hori{
    width: 640px;
    height: 230px;
}

.plant_midd{
    width: 540px;
    height: 500px;
}

.plant_vert{
    width: 310px;
    height: 500px;
}

.prix{
    color: #ADD981;
}

.underline_green{
    font-family: 'Abril Fatface';
    font-size: 60px;
    font-weight: 30;
    border-bottom: 10px #ADD981 solid;
}

/* ID */
#action{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
    justify-content: space-around;
}

#action div{
    width: 200px;
    text-align: center;
    font-weight: 500;
}

#bas_plant{
    display: flex;
    margin-left: 100px;
    margin-bottom: 100px;
    width: 1200px;
    justify-content: space-between;
}

#best_sold{
    margin: 50px 0 300px 100px;
    display: flex;
    font-weight: 500;
}

#haut_plant{
    display: flex;
    margin: 0 0 20px 100px;
    width: 1200px;
    justify-content: space-between;
}

#logo_nav,
ul{
    display: flex;
    align-items: center;
}

#scroll{
    margin-left: 100px;
    padding: 30px 0;
}